In [1]:
import pandas as pd
import numpy as np

In [87]:
df_reg = pd.read_csv("data/NBA_2024_per_game(03-01-2024).csv")
df_reg = df_reg[["Player", "Tm", "Pos", "G", "PTS", "TRB", "AST", "eFG%"]]

df_reg.columns = ["NAME", "TEAM", "POS", "GP", "PPG", "RPG", "APG", "eFG%"]


df_playoffs = pd.read_csv("data/NBA Stats 202324 All Stats  NBA Player Props Tool (4) (1).csv")
df_playoffs = df_playoffs[["NAME", "TEAM", "POS", "GP", "PPG", "RPG", "APG", "eFG%"]]

In [89]:
df_reg.head()

               NAME TEAM   POS  GP   PPG   RPG  APG   eFG%
0  Precious Achiuwa  TOT  C-PF  26   7.4   5.3  1.7  0.491
1  Precious Achiuwa  TOR     C  25   7.7   5.4  1.8  0.497
2  Precious Achiuwa  NYK    PF   1   0.0   3.0  0.0  0.000
3       Bam Adebayo  MIA     C  23  22.0  10.4  4.0  0.507
4      Ochai Agbaji  UTA    SG  34   6.6   2.5  1.0  0.554

In [61]:
df_playoffs.head()

                      NAME TEAM POS  GP   PPG   RPG  APG   eFG%
0              Joel Embiid  Phi   C   6  33.0  10.8  5.7  0.492
1            Jalen Brunson  Nyk   G  13  32.4   3.3  7.5  0.482
2           Damian Lillard  Mil   G   4  31.3   3.3  5.0  0.543
3  Shai Gilgeous-Alexander  Okc   G  10  30.2   7.2  6.4  0.531
4             Tyrese Maxey  Phi   G   6  29.8   5.2  6.8  0.558

In [45]:
df["PTS"].describe()

count    538.000000
mean       8.503717
std        7.190270
min        0.000000
25%        2.800000
50%        6.300000
75%       12.600000
max       35.000000
Name: PTS, dtype: float64

In [47]:
df.sort_values("PTS",ascending = False).head()

                      Player Pos   Tm   G   PTS   TRB  AST   eFG%
137              Joel Embiid   C  PHI  25  35.0  11.7  6.0  0.566
125              Luka Dončić  PG  DAL  31  33.4   8.3  9.4  0.568
161  Shai Gilgeous-Alexander  PG  OKC  30  31.2   5.7  6.3  0.572
11     Giannis Antetokounmpo  PF  MIL  32  30.9  11.3  5.7  0.615
147             De'Aaron Fox  PG  SAC  25  30.0   4.6  6.1  0.565

In [53]:
df_playoffs.head()

                      NAME TEAM POS  GP   PPG   RPG  APG   eFG%
0              Joel Embiid  Phi   C   6  33.0  10.8  5.7  0.492
1            Jalen Brunson  Nyk   G  13  32.4   3.3  7.5  0.482
2           Damian Lillard  Mil   G   4  31.3   3.3  5.0  0.543
3  Shai Gilgeous-Alexander  Okc   G  10  30.2   7.2  6.4  0.531
4             Tyrese Maxey  Phi   G   6  29.8   5.2  6.8  0.558

In [97]:
df_reg[df_reg["NAME"]== "Joel Embiid"]

            NAME TEAM POS  GP   PPG   RPG  APG   eFG%
137  Joel Embiid  PHI   C  25  35.0  11.7  6.0  0.566

In [81]:
df_playoffs[df_playoffs["NAME"]== "Joel Embiid"]

          NAME TEAM POS  GP   PPG   RPG  APG   eFG%
0  Joel Embiid  Phi   C   6  33.0  10.8  5.7  0.492

In [93]:
df_reg[df_reg["NAME"] == "Joel Embiid"] - df_playoffs[df_playoffs["NAME"] == "Joel Embiid"]

    NAME TEAM  POS  GP  PPG  RPG  APG  eFG%
0    NaN  NaN  NaN NaN  NaN  NaN  NaN   NaN
137  NaN  NaN  NaN NaN  NaN  NaN  NaN   NaN

In [109]:
df_reg[df_reg["NAME"]== "Jalen Brunson"][["PPG", "RPG", "APG", "eFG%"]]

     PPG  RPG  APG   eFG%
78  25.6  4.0  6.2  0.534

In [107]:
df_playoffs[df_playoffs["NAME"]== "Jalen Brunson"][["PPG", "RPG", "APG", "eFG%"]]

    PPG  RPG  APG   eFG%
1  32.4  3.3  7.5  0.482

In [111]:
df_playoffs[df_playoffs["NAME"]== "Jalen Brunson"][["PPG", "RPG", "APG", "eFG%"]] - df_reg[df_reg["NAME"]== "Jalen Brunson"][["PPG", "RPG", "APG", "eFG%"]]

    PPG  RPG  APG  eFG%
1   NaN  NaN  NaN   NaN
78  NaN  NaN  NaN   NaN

In [113]:
df_combined = df_reg.merge(df_playoffs, on='NAME', suffixes=('_reg', '_playoffs'))
df_combined['PPG_diff'] = df_combined['PPG_reg'] - df_combined['PPG_playoffs']
df_combined['RPG_diff'] = df_combined['RPG_reg'] - df_combined['RPG_playoffs']
df_combined['APG_diff'] = df_combined['APG_reg'] - df_combined['APG_playoffs']
df_combined['eFG%_diff'] = df_combined['eFG%_reg'] - df_combined['eFG%_playoffs']

In [117]:
df_combined.head()

,NAME,TEAM_reg,POS_reg,GP_reg,PPG_reg,RPG_reg,APG_reg,eFG%_reg,TEAM_playoffs,POS_playoffs,GP_playoffs,PPG_playoffs,RPG_playoffs,APG_playoffs,eFG%_playoffs,PPG_diff,RPG_diff,APG_diff,eFG%_diff
0,Precious Achiuwa,TOT,C-PF,26,7.4,5.3,1.7,0.491,Nyk,F,9,5.2,4.2,0.6,0.488,2.2,1.1,1.1,0.003
1,Precious Achiuwa,TOR,C,25,7.7,5.4,1.8,0.497,Nyk,F,9,5.2,4.2,0.6,0.488,2.5,1.2,1.2,0.009
2,Precious Achiuwa,NYK,PF,1,0.0,3.0,0.0,0.000,Nyk,F,9,5.2,4.2,0.6,0.488,-5.2,-1.2,-0.6,-0.488
3,Bam Adebayo,MIA,C,23,22.0,10.4,4.0,0.507,Mia,C,5,22.6,9.4,3.8,0.505,-0.6,1.0,0.2,0.002
4,Nickeil Alexander-Walker,MIN,SG,32,6.6,1.8,2.4,0.541,Min,F,16,7.3,1.8,2.3,0.473,-0.7,0.0,0.1,0.068

In [119]:
df_combined = df_combined[['NAME','PPG_diff', 'RPG_diff', 'APG_diff', 'eFG%_diff']]

In [125]:
df_combined[df_combined["NAME"]== "Joel Embiid"]

           NAME  PPG_diff  RPG_diff  APG_diff  eFG%_diff
48  Joel Embiid       2.0       0.9       0.3      0.074

In [127]:
df_combined[df_combined["NAME"]== "Jalen Brunson"]

             NAME  PPG_diff  RPG_diff  APG_diff  eFG%_diff
31  Jalen Brunson      -6.8       0.7      -1.3      0.052